main {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  height: 2000px;
  background-color: #f7fafc;
}

header {
   background-color: rgb(45, 0, 128);
   width: 100%;
 }

 h1 {
   width: 400px;
   position: relative;
   margin: 0 auto;
   color: #fff;
   font-size: 1.8em;
   line-height: 2.4em;
 }

.blockly-editor1 {
  position: absolute;
  top: 64px;
  left: 0px;
  transition: left 0.4s;
  height: 600px;
  width: 801px;
  background-color: #eee;
}

.display {
  position: absolute;
  top: 800px;
  width: 1150px;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}
.text-editor {
  position: absolute;
  top: 44px;
  left: 900px;
  height: 600px; 
  width: 400px; 

}

.display p {
  margin: 0;
  padding: 0;
  font-family: monospace;
}



.button{
  position: absolute;
  top: 28px;
  left: 1200px;
  /*
  color: #000;
  background-color: #fff;
  border-bottom: 5px solid #d3d3d3;*/
  }
  /*
  .button:hover{
  color:#000000; 
  background-color:#F5F5F5;
  margin-top: 3px;
  color: #000;
  background: #f5f5f5;
  border-bottom: 2px solid #d3d3d3;
  }
  */

.blocklyFlyoutLabel.myLabelStyle>.blocklyFlyoutLabelText{
  font-weight: 700;
  font-size: 24px;
}
p{
  position: absolute;
  top: 10px;
  left: 970px;
}

select{
  position: absolute;
  top: 28px;
  left: 1120px;
  font-size: 14px;
}

.check{
  position: absolute;
  top: 20px;
  left: 0px;

}

.checkbox{
  position: absolute;
  top: 10px;
  left: 850px;

}

.alert:before {
	content: '';
	position:absolute;
	left:-20px;
	border:12px solid transparent;
	border-right:12px solid #808080;
}
.alert{
	position:absolute;
	background-color:#808080;
  top:20px;
  left: 50px;
	color:white;
	font-size:1.2em;
	border-radius:0.5em;
	padding:10px;
	margin:-0.8em 0.5em 0 1em;
  display:none;
}


.hr1{
  position:absolute;
}
